<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>楽天商品タイトル重要ワード抽出</title>
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div id="app">
            <div>
                <h1>楽天商品タイトル重要ワード抽出</h1>
                <p>入力したキーワードにヒットする商品タイトルのうち、主要なキーワードを抽出します。</p>
                <form>
                    <input type="text" v-model="inputedWord">
                    <button @click.prevent="submitToApi"></button>
                </form>
            </div>
            <div>
                <h2>分析結果</h2>
                <p>{{ errorMessage }}</p>
            </div>
            <table>
                <caption></caption>
                <thead>
                    <tr>
                        <th>RANK</th>
                        <th>SCORE</th>
                        <th>KEYWORD
                            <form>
                            <input type="text" v-model="filterWord">
                            <button @click.prevent="filteringKeyword"></button>
                            <button @click.prevent="reverseResult">↑↓</button>
                            <button @click.prevent="clearFilters">clear</button>
                            <button @click.prevent="saveResult">save</button>
                        </form></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="result in analysisResult" :key="result.rank">
                        <td>{{ result.rank }}</td>
                        <td>{{ result.score }}</td>
                        <td>{{ result.keyword }}</td>
                    </tr>
                </tbody>
            </table>
            <div v-if="saved">
                <table>
                    <caption></caption>
                    <thead>
                        <tr>
                            <th>RANK</th>
                            <th>SCORE</th>
                            <th>KEYWORD
                                <form>
                                <input type="text" v-model="filterWord">
                                <button @click.prevent="filteringKeyword"></button>
                                <button @click.prevent="reverseResult">↑↓</button>
                                <button @click.prevent="clearFilters">clear</button>
                                </form>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="result in savedResult" :key="result.rank">
                            <td>{{ result.rank }}</td>
                            <td>{{ result.score }}</td>
                            <td>{{ result.keyword }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios@0.17.1/dist/axios.min.js"></script>
        <script src="./main2.js"></script>
    </body>
</html>